<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maso的萬事屋LINEBOT範例</title>
</head>

<body>
    <h1>Maso的萬事屋LINEBOT範例，使用到以下套件</h1>
    <ul>
        <li>Flask: 一個使用Python編寫的輕量級Web應用框架。</li>
        <li>line-bot-sdk: 一個基於Python的SDK，可用於呼叫LINE BOT API。</li>
        <li>Pymongo: 串連No SQL資料庫型態的MongoDB所使用的python套件。</li>
        <li>Requests: 用於透過pyhon發出request的套件。</li>
        <li>BeautifulSoup4: 用於解析HTML文檔的套件。</li>
    </ul>
</body>

</html>